*{
    margin: 0;
    padding: 0;
    border: none;
}


.postIt{
    width: 250px;
    min-height: 250px;
    padding: 12px;
    background-color: blue;
    box-shadow: -8px 12px 24px -8px #000;
    background-image: linear-gradient(25deg ,#fff, yellow);
    border-radius: 8% 2% 8% 2%;
    margin: 10px;
}

.postIt__bol{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 8px -8px 10px -8px #000;
    background-image: linear-gradient(230deg ,rgb(185, 2, 2), rgba(255, 255, 255, 0));
}

.postIt__desc__titulo{
    font-size: 14px;
    font-weight: 900;
    margin: 8px 0;
}

.postIt__desc__inf{
    font-size: 18px;
    font-weight: 600;
}

.postIt__desc__detalhe{
    font-size: 16px;
    font-weight: 900;
}

.container{
    width: 1200px;
    margin: 10px auto;
    display: flex;
}

/* EXEMPLO */

.form{
    background: #ccc;
    padding: 15px;
    border: 1px solid #000;
    width: 300px;
    margin: 0 auto;
}

.form_input{
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form_submit{
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    display: block;
    width: 100%;
}

/* modificadores para  feito em cascata*/
.form--small{
    padding: 5px;
}

.form--small .form_input{
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

.form--small .form_submit{
    padding: 5px;
    font-size: 13px;
}